@import './settings-folder_item/settings-folder_item.css';

.settings-folder{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    inline-size: 100%;
    block-size: 100%;
    padding: 5px;
}