@import './items/items.css';

.settings-folder_item{
    display: grid;
    gap: 5px;
    align-items: center;
    justify-items: start;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'h b'
    'p b';
    padding: 10px;
    inline-size: 100%;
    border-radius: 3px;
    background-color: #3C3C3C;
}

@media (width <=385px) {
    .settings-folder_item{
        display: flex;
        flex-direction: column;
    }
}